@using Microsoft.AspNetCore.Identity;
@using NewAuthCustomAccountTestEnv.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cursed-Coins</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewAuthCustomAccountTestEnv.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbarwrapper">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/chicken-leg.png"/> CursedCoins <img src="~/images/storm.png"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            
                            @if ( User.IsInRole("Admin"))
                                {
                                    
                                    <li>
                                    <a class="btn btn-primary" asp-area="Identity" asp-action="UserManagementIndex" asp-controller="AdminUser">Manage Users</a>
                                </li>
                                
                            }
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-controller="LeaderBoard" asp-action="LeaderBoard">LeaderBoard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-controller="Game" asp-action="Game"> <img src="~/Images/Cursed_Coins_Gem.png" />Game<img src="~/Images/fish.png" /></a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div id="loading-div-background" style="display: block">
        <div id="loading-div" class="ui-corner-all">

            <div id="loadingbar">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
            
            <div class="earth">
                <img src="~/Images/pirateship_loadingScreen.png" style="width:50px;height:50px;" class="loader">
                <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/globe-512.png" style="width:100%;height:100%;">
                <h2 style="color:gray;font-weight:normal;">Please wait....</h2>
            </div>
            
        </div>
    </div>

    <div class="main-content-container container">
        <main role="main" class="pb-3" onload="loaded">
            @RenderBody()
        </main>
       
    </div> 
    @if (!SignInManager.IsSignedIn(User))
        {
    <section id="cta">
        <h2>Join our Pirate Crew</h2>
        <a class="cta-button" asp-area="Identity" asp-page="/Account/Register">Start Your Plundering Journey</a>
    </section> 
        }
    <footer class="border-top">
        <div class="container">
        <ul>
            <li><a href="#terms">Terms of Service</a></li>
            <li><a href="#privacy">Privacy Policy</a></li>
            <li><a href="#copyright">Copyright</a></li>
        </ul>
        <div class="social-icons">
            <a href="https://twitter.com/pirateadventures"><img src="twitter_icon.png" alt="Twitter"></a>
            <a href="https://facebook.com/pirateadventures"><img src="facebook_icon.png" alt="Facebook"></a>
            <a href="https://instagram.com/pirateadventures"><img src="instagram_icon.png" alt="Instagram"></a>
        </div>
        
        &copy; 2023 - NewAuthCustomAccountTestEnv - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
