@using Microsoft.AspNetCore.Identity
@using NewAuthCustomAccountTestEnv.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model NewAuthCustomAccountTestEnv.Models.GameModel
@{
    ViewData["Title"] = "Game" ;
}

<h1>game </h1>

@if (!SignInManager.IsSignedIn(User))
{
    <h1>log opnieuw in!</h1>
} else {
    ApplicationUser? user = null;
    if(User != null){


        user = await UserManager.GetUserAsync(User);
    }
    if (user != null){
        @if (Model != null)
        {
            <div>
                <image src="@Model.Image1"></image>
            </div><div>
                <image src="@Model.Image2"></image>
            </div><div>
                <image src="@Model.Image3"></image>
            </div>

        }
        

    <form id="gameform"method="post" asp-controller="Game" asp-action="CoinUp">
       
        <input id="username" type="hidden" name="username" value="@user.UserName"/>
        
        <button id="submitbutton" type="submit" value="Coin Up"><img src="~/Images/pirate-ship.png" alt="sail"/></button>
    </form>
        <script src="~/js/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
        
        
   }
}