@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "It aint much, but it's honest work.";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
