@{
    ViewData["Title"] = "Home Page";
}
<section id="hero">
    <h2>Embark on a Swashbuckling Adventure</h2>
    <a class="cta-button" href="#join">Join the Crew</a>
</section>

<section id="intro" class="gy-xl-0">
<h2>Welcome to Cursed Coins!</h2>
<p>Get ready to discover hidden treasures, read thrilling pirate tales, and explore the mysteries of the high seas. We offer an unforgettable pirate experience for all adventure enthusiasts.</p>
    </section>

<section id="features">
    <h2 class="rounded-pill bg-white p-2 text-black">What We Offer</h2>
    <div class="feature">
    <div class="feature-card">
        <img src="~/Images/Cursed_Coins_Gem.png" alt="Featured Blog Post">
        <h3>Visions of the Sea</h3>
        <p>Chase captivating stories of pirate legends, gold, and evil curses.</p>
    </div>
    <div class="card">
        <div class="card-header">
        <img src="store_image.jpg" alt="Featured Product">
                <h3>Treasure Trove</h3>
            </div>
            <div class="card-body">
        <p>Venture into our store and find pirate-themed treasures, from costumes to trinkets and even more.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary">
                <i class="carousel-control-next-icon"></i>
                </a>
                </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <h2>What Our Crew Says</h2>
    <div class="testimonial">
        <blockquote>"Cursed Coins took me on an incredible journey filled with blood and glitter. Highly recommended!"</blockquote>
        <cite>- Captain Jack</cite>
    </div>
</section>



