@{
    ViewData["Title"] = "Home Page";
}
<section id="hero">
    <h2>Embark on a Swashbuckling Adventure</h2>
    <a class="cta-button" href="#join">Join the Crew</a>
</section>

<section id="intro">
<h2>Welcome to Pirate Adventures!</h2>
<p>Get ready to discover hidden treasures, read thrilling pirate tales, and explore the mysteries of the high seas. We offer an unforgettable pirate experience for all adventure enthusiasts.</p>
    </section>

<section id="features">
    <h2>What We Offer</h2>
    <div class="feature">
        <img src="~/Images/Cursed_Coins_Gem.png" alt="Featured Blog Post">
        <h3>Visions of the Sea</h3>
        <p>Chase captivating stories of pirate legends, gold, and evil curses.</p>
    </div>
    <div class="feature">
        <img src="store_image.jpg" alt="Featured Product">
        <h3>Treasure Trove</h3>
        <p>Venture into our store and find pirate-themed treasures, from costumes to trinkets and even more.</p>
    </div>
</section>

<section id="testimonials">
    <h2>What Our Crew Says</h2>
    <div class="testimonial">
        <blockquote>"Cursed Coins took me on an incredible journey filled with blood and glitter. Highly recommended!"</blockquote>
        <cite>- Captain Jack</cite>
    </div>
</section>



